<h1>Welcome to kolicalc-frontend!</h1>

<form [formGroup]="formGroup">
  <div>
    <p class="valasztando"> Állandó lakóhely távolsága Budapesttől (km-ben megadva): </p>
    <select [(ngModel)]="lakhely" formControlName="lakhely">
      <option *ngFor="let distance of distances" [ngValue]="distance.value">
        {{distance.text}}
      </option>
    </select>
  </div>

  <div>
    <p class="valasztando"> Tanulmányi átlag: </p>
    <select [(ngModel)]="tanulmanyiAtlag" formControlName="tanulmanyiAtlag">
      <option *ngFor="let atlag of atlagok" [ngValue]="atlag.value">
        {{atlag.text}}
      </option>
    </select>
  </div>
    
  <div>
    <p class="valasztando"> Felvételi pont alapképzés estén: </p>
    <select [(ngModel)]="felveteliPont" formControlName="felveteliPont">
      <option *ngFor="let pont of felveteliPontok" [ngValue]="pont.value">
        {{pont.text}}
      </option>
    </select>
  </div>

  <div>
    <p class="valasztando"> Egy főre jutó jövedelem: </p>
    <select [(ngModel)]="egyForeJovedelem" formControlName="egyForeJovedelem">
      <option *ngFor="let jovedelem of jovedelemLista" [ngValue]="jovedelem.value">
        {{jovedelem.text}}
      </option>
    </select>
  </div>
 
  <div>
    <h3>Szociális pontok:</h3>
    <p>Munkanélküli testvérek száma:</p>
    <p><input type="number" id="munkanelkuliTestver" [(ngModel)]="munkanelkuliTestver" formControlName="munkanelkuliTestver"></p>
  </div>

  <div>
    <p>Kérvényező saját gyermekeinek száma:</p>
    <p><input type="number" id="sajatGyermek" [(ngModel)]="sajatGyermek" formControlName="sajatGyermek"></p>
  </div>

  <div>
    <p><input type="checkbox" id="szuloktolKulon" [(ngModel)]="szuloktolKulon" formControlName="szuloktolKulon"> kérvényező szülőktől külön háztartásban</p>
  </div>
  
  <div>
    <p><input type="checkbox" id="szuloktolKulonHazas" [(ngModel)]="szuloktolKulonHazas" formControlName="szuloktolKulonHazas"> kérvényező szülőktől külön háztartásban házastárssal</p>
  </div>
  
  <div>
    <p><input type="checkbox" id="arva" [(ngModel)]="arva" formControlName="arva"> árva</p>
  </div>
  
  <div>
    <p><input type="checkbox" id="felarva" [(ngModel)]="felarva" formControlName="felarva"> félárva nevelőszülő nélkül</p>
  </div>
  
  <div>
    <p><input type="checkbox" id="felarvaNevSzul" [(ngModel)]="felarvaNevSzul" formControlName="felarvaNevSzul"> félárva nevelőszülővel</p>
  </div>
  
  <div>
    <p><input type="checkbox" id="munkanelkuliEltarto" [(ngModel)]="munkanelkuliEltarto" formControlName="munkanelkuliEltarto"> munkanlküli eltartó</p>
  </div>
  
  <div>
    <p><input type="checkbox" id="kozfoglEltarto" [(ngModel)]="kozfoglEltarto" formControlName="kozfoglEltarto"> közfoglalkoztatott eltartó</p>
  </div>
  



  <br>
  <button [disabled]="!formGroup.valid" (click)="save()">Pontszámítás!</button>

  <h2>Hallgató pontszáma: {{pont}}</h2>
</form>